$primary-color: #000000;
$secondary-color: #FF9900;
$bar-color: #D9D9D9;



//Section of introduction to the page
.section-int {

  padding: 0px;
  text-align: center;
  max-width: 800px; // Ancho máximo para hacerlo responsive
  margin: 0 auto;
  margin-bottom: 40px;
  overflow-wrap: break-word;

  h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
    word-break: break-word;
    margin-top: 70px;
    margin-bottom: 25px;

    @media (max-width: 768px) {
      // The endpoint of the page that changes the font
      font-size: 24px;
    }
  }

  .parrafo-italic {
    color: white;
    font-family: "Roboto";
    font-style: italic;
    font-size: 1.8vh;

    @media (max-width: 768px) {
      // The endpoint of the page that changes the font
      font-size: 14px;
    }
  }

}

p {
  color: #0000;
}

#search-bar {
  height: 100px;

  .boton-color {
    background-color: $secondary-color;
  }

  .barra-color {
    background-color: $bar-color;
    opacity: 57%;
  }

}




.aside-food {

  max-height: 100px;

  img {
    width: 200px;
    height: 200px;
    margin-left: 5px;
    margin-right: 15px;
  }

  .span-color {
    color: $secondary-color;
    margin-left: 40px;
  }

  .border-aside {
    border-bottom: 3px solid $secondary-color;

  }

}


.antojos {
  color: #FF9900;
  text-align: center;
  font-size: 30px;
}
.antojos2{
  color: #FF9900;
  text-align: center;
  margin-right: 5px;
}


@media (max-width: 991.98px) {
  .svg-container,
  .col-lg-8 {
    order: initial;
  }
}
.imgs{
  width: 100px;
  height: 100px;
}
.contentainer{
  margin-left: 90px ;
  .imgs{
    width: 100px;
    height: 100px;
  }
 
}
.card-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://colombian-delights.s3.us-east-2.amazonaws.com/imagen9.webp');

}
